<suite name="Test Suite for Publisher 7" parallel="classes" thread-count="1">

  	<parameter name="Environment" value="PROD"></parameter>
  	<test name="All Web Tests">

		<!-- Enter group name for specific test scripts-->
		<groups>
	 		<run>
	 			<include name="full"/>
	 		</run>
		</groups>

		<!-- Add individual packages you wanted to execute below-->
   		<packages>
   			<package name="com.nbcuni.test.publisher.tests.*"/>
		</packages>

		
	</test>
	
	<!--listeners>
    	<listener class-name="com.nbcuni.test.webdriver.CustomWebDriverExceptionListener"/>
    </listeners-->

	
	
</suite>