<suite name="Test Suite for Publisher 7" parallel="methods" thread-count="1" preserve-order="true">

  	<parameter name="Environment" value="PROD"></parameter>
  	
  	<test name="All Web Tests">

		<!-- Enter group name for specific test scripts
		<groups>
	 		<run>
	 			<include name="full"/>
	 		</run>
		</groups>-->

		<!--Add individual packages you wanted to execute below-->
   		<packages>
   			<package name="com.nbcuni.test.publisher.tests.*"/>
		</packages>

		<!-- 
        <packages>
            <package name="com.nbcuni.test.publisher.tests.Advertising.*"/>
            <package name="com.nbcuni.test.publisher.tests.ContentEntityCreationManagement.*"/>
            <package name="com.nbcuni.test.publisher.tests.Queues.*"/>
            <package name="com.nbcuni.test.publisher.tests.Security.*"/>
            <package name="com.nbcuni.test.publisher.tests.SiteManagementAndReporting.*"/>
            <package name="com.nbcuni.test.publisher.tests.UserCreationAndManagement.*"/>
        </packages>-->

        <!--MPX Video tests MUST be ran sequentially in the following order
        <classes>
            <class name="com.nbcuni.test.publisher.tests.Video.MPXConfigurationP7.AllowSitesToConfigureMultipleMPXAccounts.MultipleMPXAccountsPerLoginVerification"/>
            <class name="com.nbcuni.test.publisher.tests.Video.MPXConfigurationP7.AllowSitesToConfigureMultipleMPXAccounts.MPXPlayersSyncVerification"/>
            <class name="com.nbcuni.test.publisher.tests.Video.MPXConfigurationP7.AllowSitesToConfigureMultipleMPXAccounts.MPXMediaSyncVerification"/>
            <class name="com.nbcuni.test.publisher.tests.Video.ScheduleMPXVideos.Configuration"/>
            <class name="com.nbcuni.test.publisher.tests.Video.ScheduleMPXVideos.MPXVideosSchedulingVerificationInitialOverrides"/>
        </classes>-->
		
	</test>
	
	
	
</suite>